@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.option {
  background-color: white;
  border-radius: 2rem;
  padding: 5rem;
  width: 80%;
  height: 80%;
  text-align: right;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
}

.option h1 {
  font-size: 130px;
  text-align: left;
  font-weight: bolder;
}

.option h6 {
  font-size: 120px;
  text-align: left;
  font-weight: bolder;
  margin-bottom: 20px;
}

.option h2 {
  font-size: 50px;
  padding: 2rem;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.option h3 {
  font-size: 30px;
  padding: 2rem;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}

.option a {
  font-size: 30px;
  padding: 2rem;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.option h5 {
  font-size: 15px;
  padding: 0.4rem;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(249, 201, 179);
}

.option p {
  font-size: 20px;
  padding: 2rem;
  text-align: left;
}

.option button {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 30px; /* 버튼의 사이즈를 키움 */
  color: #000000;
  font-size: 50px;
}

.option button:hover {
  color: #f5a9a9; /* 마우스를 올렸을 때의 배경색을 #F5A9A9로 변경 */
}

.option2 {
  background-color: white;
  border-radius: 2rem;
  padding: 5rem;
  width: 80%;
  height: 80%;
  text-align: right;
}

hr {
  border: none;
  border-top: 1px solid black;
}

/* globals.css */
.page-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.page-item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
}

.header {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.header .dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.macWindow {
  top: 0;
  left: 0;
  right: 0;
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
}

.macWindow header {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
}
.macWindow header .dot {
  margin-top: 4px;
  height: 16px; /* 크기를 조절합니다. */
  width: 16px; /* 크기를 조절합니다. */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto; /* 왼쪽 여백을 최대로 주어 오른쪽 정렬됩니다. */
  margin-right: 10px;
}
.macWindow header .red {
  background-color: #ed594a;
}
.macWindow header .yellow {
  background: #fdd800;
}
.macWindow header .green {
  background: #5ac05a;
}

.icon {
  display: flex;
  align-items: center;

  font-size: 18px; /* 원하는 글자 크기로 조절 */
  text-decoration: none;
  color: #000000;
  margin: 4px; /* 간격을 조절합니다. */
  padding: 8px;
  transition: margin 0.3s ease; /* 부드러운 변화를 위한 transition 추가 */
}

.icon svg {
  margin-right: 4px; /* 아이콘과 텍스트 사이의 간격을 조절 */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center; /* 세로 정렬을 위해 추가 */
  margin-bottom: 50px;
}

.image {
  margin: 0 10px;
  max-width: 100%; /* 부모 요소의 너비에 맞게 조절 */
  height: auto; /* 가로 세로 비율을 유지하면서 크기 조절 */
  margin-bottom: 20px;
}

.contact-section {
  margin-top: 30px;
}

.next-image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 원하는 간격으로 조절 */
}

.career {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: black;
  margin-right: 10px;
  margin-top: 5px; /* 위쪽으로 여백 추가 */
  margin-bottom: 5px; /* 아래쪽으로 여백 추가 */
}
